In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
Food_data = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

In [3]:
Food_data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
Food_data.shape

(60943, 12)

In [5]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age','Nationality','Overall']

In [6]:
new_df = pd.DataFrame(lst, columns = col)

In [7]:
new_df

   Age Nationality  Overall
0   35    Portugal       94
1   33   Argentina       93
2   30      Brazil       92

In [8]:
Food_data["Y2015"].sum()

8032340.2299999995

 ### What is the total sum of Wine produced in 2015 and 2018 respectively?

In [9]:
Food_data.groupby("Item")["Y2015"].sum()

Item
Alcohol, Non-Food        2180.00
Alcoholic Beverages     98783.72
Animal Products         11811.73
Animal fats            200675.72
Apples and products     10559.15
                         ...
Vegetables, Other      158104.08
Vegetal Products       107064.17
Wheat and products     234710.51
Wine                     4251.81
Yams                   203151.78
Name: Y2015, Length: 119, dtype: float64

In [10]:
Food_data.groupby("Item")["Y2018"].sum()

Item
Alcohol, Non-Food        2293.00
Alcoholic Beverages     97847.27
Animal Products         11578.61
Animal fats            269648.27
Apples and products      9640.51
                         ...
Vegetables, Other      163987.21
Vegetal Products       107775.39
Wheat and products     242645.19
Wine                     4039.32
Yams                   221272.09
Name: Y2018, Length: 119, dtype: float64

### What is the total number of unique countries in the dataset?

In [91]:
count_countries= pd.DataFrame(Food_data["Area"].unique())

In [92]:
count_countries.count()

0    49
dtype: int64

### Which year had the least correlation with ‘Element Code’?
ANSWER = 2016

In [13]:
corr = Food_data.corr()

In [14]:
corr

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

### What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?
ANSWER = 140.92, 1671.86

In [15]:
desc = Food_data.drop(["Y2014", "Y2015", "Y2016", "Y2018"], axis = 1)

In [16]:
desc.describe().round(decimals = 2)

       Area Code  Item Code  Element Code      Y2017
count   60943.00   60943.00      60943.00   59437.00
mean      134.27    2687.18       3814.86     140.92
std        72.61     146.06       2212.01    1671.86
min         4.00    2501.00        511.00   -1582.00
25%        74.00    2562.00        684.00       0.00
50%       136.00    2630.00       5142.00       0.10
75%       195.00    2775.00       5511.00       9.00
max       276.00    2961.00       5911.00  190873.00

### Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?
ANSWER = 2014

In [17]:
des = Food_data.groupby("Element").sum()

In [90]:
des.head()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28

In [94]:
des.loc["Stock Variation"].sort_values(ascending=False)

Element Code    21464704.00
Item Code       11329527.00
Area Code         571566.00
Y2014              58749.83
Y2017              54316.91
Y2015              34910.99
Y2016              33140.12
Y2018              20577.91
Name: Stock Variation, dtype: float64

### What is the total number and percentage of missing data in 2014 to 3 decimal places?
ANSWER = count of missing data =25594, percentage = 41.996

In [20]:
desc2014 = Food_data.drop(["Y2017", "Y2015", "Y2016", "Y2018"], axis = 1)

In [21]:
desc2014.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06

In [99]:
desc2014[(desc2014["Y2014"] == 0.00)].count()

Area Code       25594
Area            25594
Item Code       25594
Item            25594
Element Code    25594
Element         25594
Unit            25594
Y2014           25594
dtype: int64

In [106]:
#percentage of missing data = count of missing data/total rows * 100
percentage = (25594/60943)*100
percentage

41.99661979226491

### What would be the output for?

In [23]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

### What is the total Protein supply quantity in Madagascar in 2015?
ANSWER = 173.04999999999998

In [71]:
proteinSS = Food_data[(Food_data["Area"] == "Madagascar")& (Food_data["Element"]=="Protein supply quantity (g/capita/day)")]

In [72]:
proteinSS.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
30718,129,Madagascar,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,44.45,43.26,43.35,43.94,44.17
30721,129,Madagascar,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,35.43,34.04,33.96,34.47,34.81
30724,129,Madagascar,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,9.02,9.23,9.38,9.47,9.36
30740,129,Madagascar,2905,Cereals - Excluding Beer,674,Protein supply quantity (g/capita/day),g/capita/day,27.97,27.26,27.38,27.97,28.19
30756,129,Madagascar,2511,Wheat and products,674,Protein supply quantity (g/capita/day),g/capita/day,2.09,2.14,2.53,2.88,3.15

In [73]:
proteinSS["Y2015"].sum()

173.04999999999998

### Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017? 
ANSWER = Nigeria

In [87]:
Food_data.groupby("Area")["Y2017"].sum().sort_values(ascending=False).head()

Area
Nigeria         1483268.23
Egypt            866379.92
South Africa     517590.54
Ethiopia         448683.76
Morocco          388495.36
Name: Y2017, dtype: float64

### Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?
ANSWER = Lesotho

In [89]:
Food_data.groupby("Area")["Y2017"].sum().sort_values(ascending=True).head(8)

Area
Sudan (former)               0.00
Ethiopia PDR                 0.00
Comoros                     59.84
Seychelles                 442.34
Sao Tome and Principe    12662.63
Cabo Verde               14650.74
Guinea-Bissau            19102.77
Lesotho                  21267.96
Name: Y2017, dtype: float64